/* Add flexbox to the navbars. */

/* Format the size of all images. */

/* Style the font color. */

/* Style the background with a color or image. */

/* Adjust the spacing of your page. */

/* Adjust the positioning of your page.  */


* {
    box-sizing: border-box;
  }
  
  body {
    background-color: white;
    padding: 20px;
    font-family: Arial;
  }
  
  .heading{
    background-color: #373738;
    color: #efeff2;
    padding: 1em;
  }
  
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .content {
    background-color: #272b30;
    margin: 15px;
    padding: 10px;
    color: white;
   
  }
  
  nav {
    background-color: pink;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    
  }
  .btn {
    align-content:left;
    border-radius: 15px;
  }
 
  footer {
    background-color: #272b30;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 1em;
    border-radius: 10px;
  
  }
.socials {
  margin: 5px;
  background-color: transparent;
}

.socialdiv {
  align-content: left;

}